### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof


# Test coverage
*.out

### Staging ###
.staging
.staging/
.staging/**

### Notes & Snippets ###
.notes
.notes/
.notes/**

.snippets
.snippets/
.snippets/**

### Vendor ###
vendor
vendor/
vendor/**

### Cache ###
cache
cache/
cache/**

### App ###
limo

limo*
limo-*

bin/limo*
dist/linux/limo*
dist/macos/limo*
dist/windows/limo*

conf.d/limo.json
conf.d/limo.yaml

### Docker ###
*-alpine.env

sift-alpine.env

### Big Files and Archives ###
*.gz
*.tar.gz
*.pickle
*.txt
*.csv

!*.gz.*
!*.zip.*
!*.bz2.*
!*.tar.gz.*
