### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof

# Test coverage
*.out

### Shared ###
# shared
# shared/
# shared/**

### Staging ###
.staging
.staging/
.staging/**

### Notes & Snippets ###
# .notes
# .notes/
# .notes/**

# .snippets
# .snippets/
# .snippets/**

### Vendor ###
vendor
vendor/
vendor/**

### Cache ###
# cache
# cache/
# cache/**

### App ###
dist/*/limo-*
dist/*/limo_*
bin/limo*

limo.json
limo.yaml

### Big Files and Archives ###
*.gz
*.tar.gz
*.pickle
*.txt
*.csv

## keep splitted archives (usually under 60Mb)
!*.gz.*
!*.zip.*
!*.bz2.*
!*.tar.gz.*

### Config files ###
# ignore production/local config files
*.yaml
*.json

### Docker ###
*-*.env
.env

!Dockerfile.*
!dockerfile*
!docker-compose*
!crane.*

# remove test or legacy config files/variables
*.*-test*
*.*-test*
*.*-backup*
*.*-bck*
*.*-old*

# skip from ignore any example config files
!*.*-sample*
!*.*-example*



