### SNK_PLUGIN / APK_FILE ############################################################################################

# app
APP_BASENAME=snk_apk_file
APP_NAME_UCFIRST=SnkApkFile
APP_VCS_URI=github.com/roscopecoltran/sniperkit-limo/plugins/docker/alpine
APP_GOLANG_CMD_DIR=./cmd/...

APP_NAME=${APP_BASENAME}
APP_DIST_DIR=${PWD}/dist

APP_PKG=${APP_NAME}
APP_PKGS=$(go list ./... | grep -v /vendor/ | tr '\n' ' ')
APP_VER_FILE=${PWD}/.version
APP_GEN_VCS=$( if [ -f $APP_VER_FILE ]; then cat $APP_VER_FILE; fi )
APP_VER_VCS=$( if [ -f $APP_VER_FILE ]; then cat $APP_VER_FILE; fi )

# general
CURRENT_DATE_US=$(date "+%Y-%m-%d")
CURRENT_DATE_FR=$(date "+%d-%m-%Y")

# github
GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
GIT_VERSION=$(git describe --always --long --dirty --tags > $(APP_VER_FILE) && cat $(APP_VER_FILE))
GIT_REMOTE_URL=$(git config --get remote.origin.url)
GIT_TOP_LEVEL=$(git rev-parse --show-toplevel)

# golang
GO_BUILD_LDFLAGS=-a -ldflags="-X github.com/roscopecoltran/sniperkit-${APP_NAME}/${GIT_VERSION}.${APP_NAME_UCFIRST}Version=${APP_VER}"
GO_BUILD_PREFIX=$(APP_DIST_DIR)/all/${APP_NAME}
GO_BUILD_URI=github.com/roscopecoltran/sniperkit-${APP_NAME}/cmd/${APP_NAME}
GO_BUILD_VARS=GOARCH=amd64 CGO_ENABLED=0

# golang - app
GO_BINDATA=$(which go-bindata)
GO_BINDATA_ASSETFS=$(which go-bindata-assetfs)
GO_GOX=$(which gox)
GO_GLIDE=$(which glide)
GO_VENDORCHECK=$(which vendorcheck)
GO_LINT=$(which golint)
GO_DEP=$(which dep)
GO_ERRCHECK=$(which errcheck)
GO_UNCONVERT=$(which unconvert)
GO_INTERFACER=$(which interfacer)

# general - helper
SH_TR_BIN=$(which tr)
SH_AG_BIN=$(which ag)

# package managers
PKG_BREW_BIN=$(which brew)
PKG_MACPORTS_BIN=$(which ports)
PKG_APT_BIN=$(which apt-get)
PKG_APK_BIN=$(which apk)
PKG_YUM_BIN=$(which yum)
PKG_DNF_BIN=$(which dnf)

PKG_EMERGE_BIN=$(which emerge)
PKG_PACMAN_BIN=$(which pacmane)
PKG_SLACKWARE_BIN=$(which sbopkg)
PKG_ZYPPER_BIN=$(which zypper)
PKG_BIN=$(which pkg)
PKG_ADD_BIN=$(which pkg_add)
